.excel-download-button{
    padding: 10px 15px;
    margin: 5px 15px;
}
.nftsetting .MuiTypography-body1{
    white-space: nowrap;
}
.nftsetting_save_btn{
    display: flex;
}
.nftsetting_save_btn button + button{
    margin-left: 15px;
}
.nftsetting .MuiOutlinedInput-input{
    font-weight: bold;
}
.nftsetting .MuiOutlinedInput-input::placeholder{
    color: #A9ABB0;
}
.nft_mangment_wrapper .registrationdate_2{
    padding: 0px !important;
}
.nft_mangment_wrapper .statusData{
    max-width: initial;
}
.nft_mangment_wrapper .cm_select_box + .cm_select_box{
    margin-left: 10px;
    margin-right: 10px;
}
.cm_pagination ul {
    margin: 0;
}
.page-link{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A9ABB0;
    font-weight: 500;
    border: 1px solid #A9ABB0;
    border-radius: 4px;
}
.pagination .page-link:first-child,
.pagination .page-link:last-child{
    padding: 5px 15px;
}
.pagination .page-item{
    margin: 0 7.5px;
}
.page-link:hover{
    color: #A9ABB0;
    background-color: fff;
    border: 1px solid #A9ABB0;
}
.work_history table tr th,
.work_history table tr td{
    width: 16.67%;
}
.work_history table.MuiTable-root{
    min-width: 100%;
    border: 1px solid #A9ABB0;
}
.nft_modification_wrap table.MuiTable-root,
.nft_category_wrap table.MuiTable-root,
.popularList_wrap table.MuiTable-root{
    border: 1px solid #A9ABB0;
}
.work_history .MuiDialog-paperWidthSm {
    max-width: 562px;
}
.MuiDialogActions-spacing > :not(:first-child){
    margin-left: 15px !important;
}
.nft_mf_inpit,
.nft_mf_btn{
    max-width: 300px;
    width: 100%;
}
.MuiButton-contained.nft_mf_btn{
    background-color: #fff;
}
.nft_mf_inpit{
    background-color: #F0F0F0;
}
.mf_red_text{
    font-size: 18px;
    color: red;
    font-weight: 400;
}
.modification_all_btn{
    display: flex;
    justify-content: space-between;
}
.modification_left_btn{
    display: flex;
    align-items: center;
}
.modification_left_btn button + button{
    margin-left: 15px;
}
.roalaity_input{
    width: 100%;
}
.roalaity_left_input{
    max-width: 120px;
    width: 100%;
}
.roalaity_right_input{
    max-width: 460px;
    width: 100%;
}
.roalaity_left_input input,
.roalaity_right_input input,
.roalaity_right_input .MuiFormControl-root{
    width: 100%;
    background-color: #F0F0F0;
    color: #A9ABB0;
    font-weight: bold;
}
.nft_modification_wrap label{
    position: relative;
}
.nft_modification_wrap label::before{
    content: "\f0da";
    font-family: FontAwesome;
    margin-right: 2px;
}
.nft_transaction_wrap .registrationdate > div,
.nft_transaction_wrap .registrationminus > div{
    width: 100%;
    margin-right: 0px;
}
.nft_transaction_wrap .registrationminus > div{
    display: flex;
    justify-content: center;
}
.nft_transaction_wrap .MuiSelect-select{
    text-align: left;
}
.nft_transaction_wrap .select-box > div + div,
.nft_transaction_wrap .statusData1{
    margin-left: 15px;
}
.nft_mangment_wrapper .statusWrap_1 button,
.nft_mangment_wrapper .statusData2 button,
.nft_transaction_wrap .statusWrap_1 button, 
.nft_transaction_wrap .statusData2 button,
.nft_category_wrap .statusData_1 button,
.nft_category_wrap .statusData2 button{
    height: 100%;
    height: 56px;
}
.ne_save_btn_wrap > button{
    margin-right: 15px;
}
.nftcategoryedit_title{
    line-height: 1.5;
}
.nft_cat_input{
    max-width: 300px;
    width: 100%;
}

@media only screen and (max-width: 1440px) {
    .nft_mangment_wrapper .statusData{
        min-width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .statusWrap{
        flex-wrap: wrap;
    }
    .nft_mangment_wrapper .cm_select_box + .cm_select_box {
        margin-left: 10px;
        margin-right: 0px;
    }
    .nft_mf_inpit{
        max-width: 100%;
    }
}
@media only screen and (max-width: 1080px) {
    .nft_mangment_wrapper .statusData{
        justify-content: flex-start;
    }
    .nft_mangment_wrapper .statusData .cm_select_box + .cm_select_box{
        margin-left: 10px;
    }
    .nft_transaction_wrap .select-box > div + div, .nft_transaction_wrap .statusData1{
        margin-left: 0px;
    }
    .nft_mangment_wrapper .registrationdate > div.MuiFormControl-root{
        width: 100%;
    }
    .nft_transaction_wrap .statusWrap_1 .statusData.select-box div + div{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .nft_mangment_wrapper .registrationdate > div.MuiFormControl-root{
        width: 100%;
    }
    .nft_mangment_wrapper .registrationminus,
    .nft_transaction_wrap .registrationminus{
        display: flex;
        justify-content: center;
    }
    .nft_transaction_wrap .registrationdate_2{
        margin: 10px 0;
    }
}
@media only screen and (max-width: 575px) {
    .ip_list{
        font-size: 16px !important;
    }
    .nftsetting button,
    .nftsetting [type="reset"], 
    .nftsetting [type="submit"]{
        max-width: 75px !important;
    }
    .nft_mangment_wrapper .statusData .cm_select_box + .cm_select_box{
        margin-left: unset;
    }
    .registrationdate_2 {
        margin-right: 0px;
    }
    .nft_mangment_wrapper .statusData .cm_select_box + .cm_select_box{
        margin-top: 10px;
    }
    .cm_select_box,
    .statusData,
    .cm_select_box > div.MuiFormControl-root,
    .statusData  > div.MuiFormControl-root,
    .statusData1 .MuiFormControl-root{
        min-width: 100% !important;
        width: 100% !important;
    }
    .mf_red_text{
        display: flex;
        margin-top: 12px;
    }
    .roalaity_input{
        flex-direction: column;
    }
    .roalaity_right_input{
        padding: 0 !important;
        margin-top: 7px;
    }
    .roality_wrap .row + .row{
        margin-top: 15px !important;
    }
    .nft_transaction_wrap .statusWrap_1 .statusData.select-box div + div,
    .nft_category_wrap .statusWrap_1 .statusData.select-box div + div{
        margin-left: 0px;
        margin-top: 10px;
    }
    .nft_cat_input{
        max-width: 100%;
    }
}
@media only screen and (max-width: 400px) {
    .modification_all_btn {
        flex-direction: column;
        align-items: center;
    }
    .modification_left_btn{
        margin-bottom: 10px;
    }
}